#container{
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
#panel1{
    padding: 5px;
    display: flex;

}
#video{

    flex: 0 0 60%;
}
.info{
    padding: 40px;
    flex: 1;
    font-family: "Arial";

}
#title{
    font-size:1rem;
    color: black;
    font-family: "Arial Black";
}
#player{

    height:100%;
    width: 100%;
    margin: 0 auto;

}
#nav{
    background-color: cornflowerblue;
    text-align: center;
    height: 100px;
    font-size:3rem;
    color: azure;
    font-family: "Arial Black";

}
body{
    padding:0;
}
